.topics {
    padding: 8vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.topic-item {
    width: 100%;
    height: 8vmin;
    background-color: #dcdcdc;
    padding: 2vmax;
    display: flex;
    align-items: center;
    text-align: center;
}